body
{
    background-image:url(./asserts/Ground.jpg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 13%;
    
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    
}
button{

    width: 10em;
    height: 5em;
    background-color: rgb(218, 3, 3);
    color: rgb(38, 2, 104);
    border-radius: 3px;
}

input{
    width: 20em;
    height: 5em;
    background-color: rgb(47, 136, 59);
}
